@media screen and(max-width: 1060px) {
  .sidebar-toggle {
    display: none;
  }

  .page-content {
    margin: 0 25px 0 55px;
  }

  .sidebar{
    left: -211px;

    .user-menu {
      .user-info {
        display: none;
      }

      .togglePopupProfile {
        img {
          width: 31px;
        }
      }

      a {
        padding: 8px 0;
        background: none;
        text-align: right;
      }
      .user-popup:before {
        top: 10px;
      }
    }

    .navigation-sub-list {
      display: none;
      position: absolute;
      right: -36%;
      top: 0;
      list-style: none;
      background: #3A4B55;
    }
  }

  .footer {
    margin: 0 25px 0 55px;
  }
}

@media screen and (max-width:800px) {

  * {
    transition: ease-in-out 1s;
  }

  .create-btn-container {
    display: none;
  }

  .fixed-btn {
    z-index: 99;
    position: fixed;
    right: 20px;
    bottom: 0;
    height: 60px;
    width: 60px;
  }

  .todo-list-tools {
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    .todo-list-search {
      margin-bottom: 16px;
    }
  }

  .tasks-container {
    align-content: center;
    flex-flow: column wrap;
    width:65%;

    .task-item {
      width: 100%;
    }
  }

  .search-label, .sort-label {
    display: none;
  }
}

@media screen and (max-width:730px){
  .tasks-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

