@import './constants/constants.scss';

* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=search]{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
}

.title {
    font-size: 24px;
    font-weight: 500;
}
